fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
alembic
fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
python-dotenv

pydantic
pydantic[email]

pydantic==2.5.0

pydantic-settings

